<nav class="navbar navbar-dark bg-dark shadow-sm fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">SNS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggle"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <% if (!currentUser) { %>
      <!-- 인증 X (로그인 안 한 상태) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
      <% } else { %>
      <!-- 인증 O (로그인 한 상태) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/posts">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/friends">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/<%= currentUser._id %>"
            ><%= currentUser.username %></a
          >
        </li>
        <li class="nav-item">
          <form action="/auth/logout" method="POST">
            <button type="submit" class="nav-link no-outline">Logout</button>
          </form>
        </li>
      </ul>
      <% } %>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 70px">
  <% if (typeof error !== 'undefined' && error.length > 0) { %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
  <% } %> <% if (typeof success !== 'undefined' && success.length > 0) { %>
  <div class="alert alert-success" role="alert"><%= success %></div>
  <% } %>
</div>
